{% extends "base.html.twig" %}
{% block searchBar %}
	<form action='/products' method='get'>
		<label for="searchBar">Enter a
			{{placeholder}}
			name</label>
		<input type="text" name="searchBar" id="searchBar" placeholder=' {{placeholder}}...'>
		<input type="submit" value="Search">
	</form>
{% endblock %}
{% block content %}
	<table>
		<thead>
			<tr class='fourColumn'>
				<th>Nom</th>
				<th>prix salarié</th>
				<th>prix achat</th>
				<th>stock</th>
			</tr>
		</thead>
		<tbody>
			{% for item in products %}
				<tr {% if item.stock <= 10 %}class='lowStock'{% endif %}>
					<td><input type="text" pattern="/^[a-zA-Z]{4,}$/u" name="nom" class="nom" data-name="{{item.nom}}" data-id="{{ item.id }}" value='{{item.nom}}' maxlength="50" readonly></td>
					<td><input type="text" pattern="/^(-?(\d*(.\d{2})?)|(.\d{2})?)$/u" name="prix_salarie" class="prix_salarie" data-id="{{ item.id }}" value='{{item.prix_salarie}}' maxlength="5" readonly></td>
					<td><input type="text" pattern="/^(-?(\d*(.\d{2})?)|(.\d{2})?)$/u" name="prix_achat" class="prix_achat" data-id="{{ item.id }}" value='{{item.prix_achat}}' maxlength="5" readonly></td>
					<td><input type="text" pattern="/^\d+$/u" name="stock" class="stock" data-id="{{ item.id }}" value='{{item.stock}}' maxlength='4' readonly></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
