{% extends "base.html.twig" %}
{% block searchBar %}
	<form action='/products' method='get'>
		<label for="searchBar">Enter a
			{{placeholder}}
			name</label>
		<input type="text" name="searchBar" id="searchBar" placeholder=' {{placeholder}}...'>
		<input type="submit" value="Search">
	</form>
{% endblock %}
{% block content %}
	<table>
		<thead>
			<tr class='product'>
				<th>Nom</th>
				<th>prix salarié</th>
				<th>prix achat</th>
				<th>stock</th>
			</tr>
		</thead>
		<tbody>
			{% for item in products %}
				<tr>
					<td><input type="text" name="nom" id="nom" data-name="{{item.nom}}" data-id="{{ item.id }}" value='{{item.nom}}' maxlength="50" readonly></td>
					<td><input type="text" name="prix_salarie" id="prix_salarie" data-id="{{ item.id }}" value='{{item.prix_salarie}}' maxlength="4" readonly></td>
					<td><input type="text" name="prix_achat" id="prix_achat" data-id="{{ item.id }}" value='{{item.prix_achat}}' maxlength="4" readonly></td>
					<td><input type="text" name="stock" id="stock" data-id="{{ item.id }}" value='{{item.stock}}' maxlength='4' readonly></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
